<div class="container">
    <div class="col-md-12">
        <h1>Boutons</h1>
    </div>
    <div class="col-md-12 mt-2">
        <app-button value="Bouton" (buttonClicked)="clickOnButton()"></app-button>
    </div>
    <div class="col-md-12 mt-2">
        <app-button value="Bouton disabled" [disabled]="true" (buttonClicked)="clickOnButton()"></app-button>
    </div>
</div>
<div class="container mt-5">
    <div class="col-md-12">
        <h1>Slides (Angular Material)</h1>
    </div>
    <div class="col-md-12 mt-2">
        <mat-slide-toggle>Switch</mat-slide-toggle>
    </div>
</div>
<div class="container mt-5">
    <div class="col-md-12">
        <h1>Icônes (Font Awesome)</h1>
    </div>
    <div class="col-md-12 mt-2">
        <div class="fa-4x">
            <span class="fa-layers fa-fw" style="background:MistyRose">
                <i class="fab fa-angular" data-fa-transform="grow-2"></i>
                <i class="fas fa-star fa-inverse fa-spin" data-fa-transform="shrink-13 up-4 right-4" style="color:#ffc830"></i>
              </span>
            <span class="fa-layers fa-fw">
                <i class="fas fa-certificate"></i>
                <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-11.5 rotate--30" style="font-weight:900">NEW</span>
            </span>
        
            <span class="fa-layers fa-fw">
                <i class="fas fa-envelope"></i>
                <span class="fa-layers-counter" style="background:Tomato">1,419</span>
            </span>
        </div>
    </div>
</div>